{% extends 'nursebase.html' %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nurse Homepage</title>

        <link rel='stylesheet' type="text/css" href="{% static 'fullcalendar.css' %}"/>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar.js' %}"></script>
        <script type="text/javascript">
        $(document).ready(function() {
        // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
        // put your options and callbacks here
            })
        });
        </script>
    </head>
    <body>
        {% block body_block %}
        <div id="nurse_index_body">
        {% csrf_token %}
            <h2 id="welcome_title">Welcome To Your HealthNet HomePage</h2>
            <h2>Logged-In As Nurse: {{ user.first_name }}</h2>


        </div>
        {% endblock %}

        {% block cal_block %}
                <div id="calendar"></div>
        {% endblock %}

    </body>
</html>
