{% extends 'nursebase.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <body>
        {% block body_block %}
        {% csrf_token %}
        {% load nurse_tags %}
        <div id="nurse_allpatients_body">
        {% if user|is_nurse %}
            <h1>All Patients for Nurse: {{ user.first_name }}</h1>
            <form id="allpatients" method="get" action="{% url 'nurse:allpatients' %}">{% csrf_token %}
                Patient name: <input type="text" name="patientname" value="" size="50" />   
                    <input type ="submit" value="Search" />
                {% for e in allp %}
                    <p>Patient User: {{ e.user.username }}<br>
                    First Name: {{ e.user.first_name }}<br>
                    Last Name {{ e.user.last_name}}
                    {% if len > 0 %}
                        <a href="{% url 'nurse:viewpatient' e.id %}"><input type="button" value="View Patient"/></a>
                        <a href="{% url 'nurse:viewpatientapps' e.id %}"><input type="button" value="View Patient Appointments"/></a>
                    {% endif %}
                    <br>
                {% endfor %}
                <div id="button_box">
                    <input type="submit" name='home' value="Go Back To Home" />
                </div>
            </form>
            {% else %}
                {% include "healthnet/index.html" %}
            {% endif %}
            </div>
            {% endblock %}
            {% block cal_block %}
        {% endblock %}
    </body>
</html>