{% extends 'nursebase.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <title>Edit Appointment</title>
    </head>
            {% block body_block %}

    {% load nurse_tags %}
    {% if user|is_nurse %}
    <body>
    <div id="nurse_editappt">
        <form method="post" action="{% url 'nurse:editapp' pk %}">
            {% csrf_token %}
            <h1>Edit Appoinment</h1>
            {{ doc_app_form.as_p }}
            {{ appointment_form.as_p }}
            <input type="submit" name="Save" value="Save"/>
            <a href="/healthnet/nurse/appointments/"><input type="button" value="Cancel"/></a>
        </form>
        </div>
    </body>
    {% else %}
       {% include "healthnet/index.html" %}
    {% endif %}
    {% endblock %}

        {% block cal_block %}
        {% endblock %}
</html>