{% extends 'doctorbase.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <body>
        {% block body_block %}
        {% csrf_token %}
        {% load doctor_tags %}
        <div id="doctor_allpatients_body">
        {% if user|is_doctor %}
            <h1>All Patients for Doctor: {{ user.username }}</h1>
            <form id="allpatients" method="post" action="{% url 'doctor:index' %}">{% csrf_token %}
                {% for e in allp %}
                    <p>Patient User: {{ e.user.username }}<br>
                    First Name: {{ e.user.first_name }}<br>
                    Last Name: {{ e.user.last_name}}
                    {% if len > 0 %}
                        <input type="hidden" name="yes" value=""><br >
                        <a href="{% url 'doctor:viewpatient' e.id %}"><input type="button" value="View Patient"/></a>
                    {% endif %}
                    <br>
                {% endfor %}
                <div id="button_box">
                    <input type="submit" name='home' value="Go Back To Home" />
                </div>
            </form>
            {% else %}
                {% include "healthnet/index.html" %}
            {% endif %}
            </div>
            {% endblock %}
            {% block cal_block %}
        {% endblock %}
    </body>
</html>